
#note {
/*    background-color: grey;*/

/*    width: 90%;*/
/*    margin: 5%;*/
}

body {
/*    background-color: whitesmoke;*/
    background-image: url("../images/rough-beige-paper-texture.jpg");
    overflow: hidden;
    margin: 0;
}

svg {
    zoom: 100%;
}
